body{
    background-color: #1A120B;
    color: #D5CEA3;
    padding: 5px;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    background-color: #D5CEA3;
    color: #1A120B;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: small;
    background-color: #D5CEA3;
    color: #1A120B;
}

p {
    text-align: justify;
    letter-spacing: 2px;
}

nav{
    background-color: #D5CEA3;
    color: #1A120B;
}